[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
auto-changelog = "*"
black = "==19.3b0"
codecov = "*"
coverage = "*"
pytest = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-docstyle = "*"
pytest-mock = "*"
pytest-mypy = "*"
pytest-pep8 = "*"
pytest-xdist = "*"
semver = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
tox = "*"
tox-pyenv = "*"
twine = "*"

[packages]
aiofiles = "*"
arrow = "*"
blessed = "*"
buzio = "*"
click = "*"
docker = "*"
gitpython = "*"
loguru = "*"
pipenv = "*"
psutil = "*"
pydashing = "*"
pyyaml = "*"
stringcase = "*"
tabulate = "*"
toml = "*"
virtualenv = "*"