[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv = "*"
pytest = "*"
pytest-mock = "*"
pytest-xdist = "*"
pytest-docstyle = "*"
pytest-pep8 = "*"
pytest-mypy = "*"
pytest-cov = "*"
coverage = "*"

[packages]
buzio = "*"
loguru = "*"
docker = "*"
pyyaml = "*"
click = "*"
arrow = "*"
pydashing = "*"
gitpython = "*"
tabulate = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
