backports.shutil-get-terminal-size
coverage
datadog
decorator
docopt
enum34
gitdb
gitdb2
GitPython
ipdb
ipython
ipython-genutils
nose
pathlib2
pexpect
pickleshare
ply
prompt-toolkit
ptyprocess
PyGithub
Pygments
rcssmin
requests
rjsmin
simplegeneric
simplejson
six
slackweb
smmap
smmap2
traitlets
wcwidth
